@import 'reset.css';
@import 'grid.css';

*{
    font-family: 'Play', sans-serif;
}
footer{
    position: fixed;
    bottom: 0;
}
.setor{
    width: 100%;
    float: right;
}
.container{
    width: 1000px;
    margin:  0 auto;
    /* para facilitar o ajuste */
    /*border-left: yellow 1px dashed;*/
    /*background-color: #ffe6c4;*/
}
#menu {
    width: 400px;
    height: 40px;
    margin: 10px;

    /* float Funciona porque está ao lado da logomarca*/
    float: right; 
}
#menu li{
    float: left;    
}
#menu a:hover{
    background-color: #990000;
    color: white;
}
#menu a{
    padding: 10px 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}
.bg_imagem{
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_azul {
    background-color: #95b6de;
}

.bg_vermelho {
    background-color: #de9595;
}

.bg_verde {
    background-color: #ccffcc;
}

.bg_cinza{
    background-color: #cccccc;
}
.bg_branco{
    background-color: white;
}

/* Tag H1 que estiver dentro da tag com classe .topo_com_titulo */
.topo_com_titulo h1{
    font-size: 50pt;
    line-height: 100px;
}
.topo_com_titulo{
    color: red;
}
.topo_com_titulo .logo-container{
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin: 15px;
}
.topo_com_titulo img{
    height: 100px;
}

.a-100px{
    height: 100px;
}
.a-auto{
    height: auto;
}

#conteudo{
    margin-top: 15px;
}
#titulos{
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
}

.botao{
    background-color: #5b247a;
    padding: 20px;
    color: white;
    border-radius: 7px;
    display: inline-block;
}

.aluno{
    color: blue;
}

.red{
    color: red;
}

