/*
Arquivo que contem as regras de GRID.
Utilizado para definir colunas que ocuparão parte da tela
O objetivo do GRID LAYOUT é facilitar o desenvolvimento sem que 
    seja necessário reescrever todas as regras de tamanho.
*/

.coluna{
    display: block;
    float: left;
    box-sizing: border-box;
    /* Uma borda para facilitar o alinhamento */
    border: transparent 1px solid;
    padding: 7px;
}
/* Largura: 100% */
.l-100{ width: 100%;}

/* Largura: 50% */
.l-50{ width: 50%; }

/* Largura: 33% */
.l-33{ width: 33.333%;}

/* Largura: 25% */
.l-25{ width: 25%;}

.l-16{ width: 16.66%; }

